<div class="container__small-card">
    <div class="container__small-card_content">
      <div class="small-card__photo">
        <a [routerLink]="['content', id]">
          <img src = "{{photoCover}}"
          alt="placeholder view"
          width="250px"
          height="150px"
          srcset=""
          >
        </a>
      </div>
      <div class="small-card__description">
        <a [routerLink]="['content', id]" >
        <!-- href="{{cardlink}}"  -->
        
          <p>{{cardDescription}}</p>
        </a>
      </div>
    </div>
    <div class="container__small-card_separator">
      <hr>
    </div>
  </div>