@media screen and (max-width: 800px){ 
.container__small-card{
    width: 95%;
    height: 200px;
    margin: 10px;
  }
  
  .container__small-card_content{
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    gap: 10px;
  }
  
  .small-card__photo img{
    width: 50%;
    min-width: 250px;
    min-height: 150px;
  }
  
  .small-card__description{
    display: flex;
    justify-content: center;
    align-items: center;
  }  
} 